.btn-container {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    padding: 1em 2em;
}

.btn {
    background-color: #eee;
    color: #222;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.btn:hover {
    background-color: #ddd;
}
.btn:active {
    background-color: #ccc;
}